@import-normalize;

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(110deg, #8401db 60%, #ba7be3 60%) no-repeat;
  overflow: hidden;
}

.launch_modal_button {
  padding: 1rem;
  border-radius: 5px;
  background-color: #e3c591;
}
